:root {
  /* 
  --------------------------------
  Four Cards Feature Css Variables

  PLEASE NOTE:

  For consistency, we use the same color/fonts variables as the ones specified in the styles-guide.md file.
  
  reference: styles-guide.md 
  --------------------------------
  */
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);
  --color-dark-blue: hsl(234, 12%, 34%);
  --color-grayish-blue: hsl(229, 6%, 66%);
  --color-light-gray: hsl(0, 0%, 98%);
  --font-family: "Poppins";
}

/* -----Global Styles----- */
body {
  font-family: "Poppins";
  background-color: var(--color-light-gray);
  color: var(--color-dark-blue);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* header styles begin here */
header {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  text-align: center;
}

header h1 {
  font-size: 2.5em;
  font-weight: 200;
  color: var(--color-dark-blue);
  margin-bottom: 10px;
}

header h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

header p {
  font-size: 1em;
  color: var(--color-grayish-blue);
  margin-bottom: 20px;
}
/* header styles end here */

/* supervisor card styles begin here */
.supervisor__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  text-align: left;
  background-color: white;
  position: relative;
  border-top: 0.5rem solid var(--color-cyan);
}

.supervisor__card div {
  align-self: flex-end;
  margin-top: 1rem;
}

.supervisor__card img {
  width: 50px;
  height: 50px;
}

.supervisor__card h3 {
  font-size: 1.5rem;
  color: var(--color-dark-blue);
  margin-top: 10px;
}

.supervisor__card p {
  font-size: 1rem;
  color: var(--color-grayish-blue);
  margin-top: 5px;
}
/* supervisor card styles end here */

/* karma card styles begin here */
.karma-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  transition: transform 0.3s ease;
  background-color: white;
  position: relative;
  border-top: 0.5rem solid var(--color-orange);
}
.karma-card:hover {
  transform: translateY(-5px);
}
.karma-card div {
  align-self: flex-end;
  margin-top: 1rem;
}
.karma-card img {
  width: 50px;
  height: 50px;
}
.karma-card h3 {
  font-size: 1.5rem;
  color: var(--color-dark-blue);
  margin-top: 10px;
}
.karma-card p {
  font-size: 1rem;
  color: var(--color-grayish-blue);
  margin-top: 5px;
}
/* karma card styles end here */

/* Team builder card styles */
.team_builder_card_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  text-align: left;
  background-color: white;
  position: relative;
  border-top: 0.5rem solid var(--color-red);
}
.team_builder_card_heading {
  margin-top: 10px;
  color: var(--color-dark-blue);
  font-weight: bold;
}

.team_builder_card_text {
  font-size: 15px;
  color: var(--color-grayish-blue);
  margin-top: 5px;
  border-radius: 8px;
}

.team_builder_card_container div {
  align-self: flex-end;
  margin-top: 1rem;
}

/* calculator card style */
.Card-Icon {
  align-self: flex-end;
  margin-top: 1rem;
}

.card-title {
  text-align: left;
  margin-top: 10px;
}
.card-description {
  font-size: 1rem;
  margin-top: 5px;
  color: var(--color-grayish-blue);
}
.Calculator-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  text-align: left;
  background-color: white;
  position: relative;
  border-top: 0.5rem solid var(--color-blue);
}

/* Calculator card styling ends */

/* screen responsiveness starts here */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card__effect {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card__hover--effect:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.parent__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.25rem;
  display: grid;
  place-items: center;
  scroll-behavior: smooth;
  min-height: 100vh;
}

@supports (--css: variables) {
  .parent__container {
    min-height: 100dvh;
  }
}

@media (min-width: 769px) {
  header h1 {
    white-space: nowrap;
  }

  .features__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "start ref1 end"
      "start ref2 end";
    place-content: center;
    place-items: center;
    gap: 20px;
  }
  .supervisor__card {
    grid-area: start;
    align-self: center;
  }
  .karma-card {
    grid-area: ref2;
  }
  .team_builder_card_container {
    grid-area: ref1;
  }
  .Calculator-card {
    grid-area: end;
    align-self: center;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  header h1 {
    font-size: 2em;
    white-space: nowrap;
  }

  .supervisor__card,
  .karma-card,
  .team_builder_card_container,
  .Calculator-card {
    width: 100%;
    margin: 20px 0;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.5em;
  }

  header h2 {
    font-size: 1.2em;
  }

  .supervisor__card,
  .karma-card,
  .team_builder_card_container,
  .Calculator-card {
    width: 100%;
    margin: 20px 0;
  }
}
