:root {
  /* 
  --------------------------------
  Four Cards Feature Css Variables

  PLEASE NOTE:

  For consistency, we use the same color/fonts variables as the ones specified in the styles-guide.md file.
  
  reference: styles-guide.md 
  --------------------------------
  */
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);
  --color-dark-blue: hsl(234, 12%, 34%);
  --color-grayish-blue: hsl(229, 6%, 66%);
  --color-light-gray: hsl(0, 0%, 98%);
  --font-family: "Poppins";
}

/* Global Styles 
 This is temporary for the project initialization whoever is integrating can modify these styles to fit the project's global styles 
 */
body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--color-light-gray);
}

/* supervisor card styles begin here */
.supervisor__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color-cyan);
  border-radius: 8px 8px 0 0;
}

.supervisor__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  transition: transform 0.3s ease;
  background-color: white;
  max-width: 300px;
  height: auto;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.supervisor__card:hover {
  transform: translateY(-5px);
}

.supervisor__card div {
  align-self: flex-end;
}

.supervisor__card img {
  width: 50px;
  height: 50px;
}

.supervisor__card h3 {
  font-size: 1.5rem;
  color: var(--color-dark-blue);
  margin-top: 10px;
}

.supervisor__card p {
  font-size: 1rem;
  color: var(--color-grayish-blue);
  margin-top: 5px;
}
/* supervisor card styles end here */

/* Team builder card styles */

.team_builder_card_red_line{
  position: absolute;
  height: 5px;
  background-color: var(--color-red);
  top: 0;
  left: 0;
  right: 0;
}

.team_builder_card_container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  width: 100%;
  text-align: left;
  height: auto;
  padding: 20px;
  margin: 10px;
  margin-top: 250px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  position: relative;
}
.team_builder_card_heading {
  margin-top: -5px;
  color: var(--color-dark-blue);
  font-weight: bold;
}


.team_builder_card_text{
  font-size: 15px;
  color: var(--color-grayish-blue);
  margin-top: -10px;
  border-radius: 8px;
}

.team_builder_card_img{
  text-align: right;
}